.main-logo{width:179px;height:25px;font-family:Cormorant;font-size:24px;font-weight:600;line-height:1.54;text-align:left;color:#000}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
