@media (max-width: 800px){
    
       .nav-mobile-toggler{
        display: inline-block;
        width: 50px;
        background: none;
        border: none;
        outline: none;
        line-height: 10px;
        cursor: pointer;

        span{
            display: inline-block;
            height: 4px;
            margin-bottom: 2px;
            width: 40px;
            background: #000000;
            cursor: pointer;
        }
    }

    .teaching-page .nav-mobile-toggler span{
        background: #ffffff;
    }

    .main-navigation{
        display: block;
        padding: 10px;
        // position: relative;
    }

    .main-logo{
        float: right;
    }

    .main-navigation-right-side{
         display: none;
         position: absolute;
         background: #ffffff;
         //padding-top: 60px;
         width: 100%;
         height: 100%;
         top: 50px;
         left: 0;
         z-index: 10000;
        ul{
            float: none;
            padding: 0;
            margin: 0;
            padding-top: 20px;
           

            li{
                display: block;
                text-align: center;
                text-transform: uppercase;
                margin-right: 0;
                padding: 5px;
                letter-spacing: 2px; 
                font-weight: 600;
            }
        }
     
    }

    .teaching-page .main-navigation-right-side{
        background: #353535;
    }


    li a{
        padding: 15px 0;
        display: block;
    }
    .main-content-wrapper{
        padding: 0 10px ;
    }

    .index-page .main-content{
        background: none;
    }
    
    .main-content {
        display: block;
        margin-bottom: 30px;
        background-size: auto;
      
        
        p {
            font-size: 22px;
            margin: 40px 10px 0px 10px;
            z-index: 100;

        }
    
    }


.main-content-items article {
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    line-height: 24px;
    display: block;
}

.mobile-image-container{
    display: block;
    max-width: 100%;
    height: 480px;
    background: url("img/176902158.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}

.page-content { 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;  
    background: none;
    margin-top: 10px;

    
        h1{
        margin-left: 0;
        font-size: 28px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    p{
        margin: 0;
        margin-bottom: 20px;
    }

}

.page-content .view-or-buy a {
    margin-right: 10px;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}

.page-content .view-or-buy {
    padding: 0;
    max-width: 100%;
    font-size: 16px;
    line-height: 3  px;
    // position: relative;
    // z-index: 10;
    line-height: 24px;
    -webkit-animation-duration: 3.8s;
}

.show{
    z-index: -100;
    position: relative;
}

.article-navigation{
    margin-top: 10px;
    ul{
        margin-left: 0;
        padding: 0;
    }

    li.active{
      
    }
}



}
